.root {
    min-width: 375px;
    background-color: #f5da59;
}

.ul {
    margin: 0px;
    padding: 20px 14px;
}

@media(min-width: 615px) {
    .ul {
        padding: 20px 30px;
    }
}

@media(min-width: 769px) {
    .ul {
        padding: 20px 70px;
    }
}

@media(min-width: 1024px) {
    .ul {
        padding: 35px 90px;
    }
}

.li {
    display: grid;
    grid-template-columns: 32% 1fr;
    gap: 10px;
    margin-bottom: 35px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.imgContainer {
    width: 110px;
    height: 110px;
    justify-self: center;
    margin: 35px 0px;
    overflow: hidden;
}

@media(min-width: 615px) {
    .imgContainer {
        width: 150px;
        height: 150px;
    }
}

@media(min-width: 769px) {
    .imgContainer {
        width: 190px;
        height: 190px;
    }
}

@media(min-width: 1024px) {
    .imgContainer {
        width: 250px;
        height: 250px;
    }
}

.img {
    width: 100%;
    height: auto;
}

.divInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 6px;
}

.span {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, .55);
}

@media(min-width: 615px) {
    .span {
        font-size: 1.1rem;
    }
}

@media(min-width: 1024px) {
    .span {
        font-size: 1.3rem;
    }
}

.link {
    align-self: flex-end;
}