.root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 375px;
    height: 86vh;
    padding: 30px 30px 60px;
    background-image: url(../../assets/buscador2.jpg);
    background-position: center center;
    background-size: cover;
    text-align: center;
}

@media(min-width: 769px) {
    .title {
        font-size: 2.4rem;
    }
}

@media(min-width: 1024px) {
    .title {
        font-size: 2.8rem;
    }
}

.subTitle {
    color: #dce3eb;
    border-radius: 6px;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: rgb(0 0 0 / 42%);
}

@media(min-width: 769px) {
    .subTitle {
        font-size: 1.3rem;
        padding: 12px;
    }
}

@media(min-width: 1024px) {
    .subTitle {
        font-size: 1.5rem;
        padding: 14px;
    }
}